/* 
 * Core SCSS Import File
 *
 * This file manages the imports of all the scss partial files across the project 
 * and it's layout is based from that of the SASS guidelines here: http://sass-guidelin.es/
 *
 * @package: Intro-To-SCSS
 * @version: 1
 * @author: @James_RWilliams
 *
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

html,
body {
  margin: 0;
  padding: 0;
  background: #05B2D2; }

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #444; }

.filler {
  position: absolute;
  background: #2D373F;
  z-index: 1000000;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white; }
  .filler h2 {
    height: 600px;
    font-size: 5vh; }
  .filler a#START {
    display: block;
    position: absolute;
    width: 500px;
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -250px;
    color: white;
    padding: 20px 10px;
    text-decoration: none;
    font-weight: bold;
    background: #1EBBA6; }

.wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0; }

.typed-cursor {
  display: none; }

header {
  background: #2D373F;
  padding: 20px; }
  header p {
    font-weight: bold;
    color: #EE7836;
    display: inline-block;
    width: 50%;
    margin: 0; }
  header button {
    position: absolute;
    right: -10px;
    top: -10px; }

.chapter {
  padding: 20px 0px;
  line-height: 1.3em;
  color: white;
  margin-bottom: 10px;
  background: none; }
  .chapter h3 {
    margin: 0; }

#result {
  margin: 0;
  padding: 0;
  background: green;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  display: none;
  width: 0;
  height: 0; }

.col-wrapper {
  height: 100%; }
  .col-wrapper .col {
    height: 100%;
    padding: 20px 0;
    width: 49%; }
  .col-wrapper .col:nth-child(1) {
    float: left; }
  .col-wrapper .col:nth-child(2) {
    float: right;
    padding: 20px 0; }
    .col-wrapper .col:nth-child(2) article {
      padding: 20px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      background: #eaedf1; }

.col-wrapper:after {
  content: "";
  display: block;
  clear: both; }

button {
  background: #EE7836;
  border: 0;
  font-size: 1em;
  color: #2D373F;
  font-weight: bold;
  padding: 10px 15px; }

#help {
  color: #2D373F; }

.CodeMirror {
  font-family: "Consolas";
  padding: 20px; }

.CodeMirror-gutter {
  text-align: center;
  background: #2D373F; }

@media screen and (max-width: 1000px) {
  .chapter_nav {
    width: 30%; }

  .col-wrapper .col {
    float: none;
    width: 100%; } }
