/* 
 * Functions SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */

	
	/*
	 * Animation Mixin Function
	 * 
	 * Takes the arguments and renders a cross-browser 
	 * compatible code block for the animation.
	 *
	 * Formal syntax can be found here: https://developer.mozilla.org/en/docs/Web/CSS/animation
	 *
	 */
	
	@mixin render_animation($name, $duration, $timing_function, $delay, $iteration_count, $direction ){
				
		-webkit-animation: $name $duration $timing_function $delay $iteration_count $direction;
		   -moz-animation: $name $duration $timing_function $delay $iteration_count $direction;
		     -o-animation: $name $duration $timing_function $delay $iteration_count $direction;
	      	    animation: $name $duration $timing_function $delay $iteration_count $direction;
		
	}
	
	/*
	 * Keyframe Mixin Function
	 * 
	 * Takes the arguments and renders a cross-browser 
	 * compatible code block for the keyframe animation css.
	 *
	 * Formal syntax can be found here: https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
	 *
	 */
	
	@mixin keyframes($animationName){
		
	    @-webkit-keyframes #{$animationName} {
	        @content;
	    }
	    @-moz-keyframes #{$animationName} {
	        @content;
	    }
	    @-o-keyframes #{$animationName} {
	        @content;
	    }
	    @keyframes #{$animationName} {
	        @content;
	    }
	}

		
	/*
	 * Extend Clear CSS Class
	 * 
	 * Use the @extend .class to take this code and enter it when the 
	 * code is compiled. Ideally used with the [element]:after sudo selector
	 * It adds a hidden block element that clears the contetn. No need for 
	 * aditional code in the DOM.
	 * 
	 * More information can be found here: http://sass-lang.com/guide#topic-7
	 *
	 */		
	
	.clear {
		
		content: "";
		display: block;
		clear: both;
				
	}