$file_height: 140px;

$file_width: ($file_height * 0.8);
$file_fold: ($file_width / 4.5);


.file {

	position: absolute;
	height: $file_height;
	width: $file_width;
	background: white;
	display: inline-block;
	
	margin-left: -($file_width /2);

}

.file:after,
.file:before {
	
	position: absolute;
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	
}

.file:after {
	
	// Fold Triangle
	bottom: 0;
	right: 0;
	
	border-width: $file_fold $file_fold 0 0;
	border-color: #999 transparent transparent transparent;
	
	
}

.file:before {
	
	// Background Mime
	bottom: 0;
	right: 0;
	
	border-width: 0 0 $file_fold $file_fold;
	border-color: transparent transparent $colour_background transparent;
	
}

.file span {
	
	display: block;
	
	text-align: center;
	font-family: monospace;
	height: $file_height;
	line-height: $file_height;
	width: $file_width;
	font-size: 90%;
	color: #888;
	white-space: pre-wrap;
	
}

span.scss:before { content: ".scss"; }
span.scss_partial:before { content: "_partial"; }
span.css:before {content: ".css"; }
span.js:before {content: ".js";}
span.min:before {content: "min.js";}