/* 
 * Colours SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
 
$colour_background: #D2D6D6;
$sidebar: #2c2c2c;
$offWhite: #919191;

$colour_red: #ff6e61;
$colour_green: #00b777;
$colour_blue: #4b6db4;
$colour_purple: #a38af2;
$colour_turquoise: #0193a3;