/* 
 * Colours SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
 
$background: #ffffff;
$sidebar: #2c2c2c;
$offWhite: #919191;

$red: #ff6e61;
$green: #00b777;
$blue: #4b6db4;
$purple: #a38af2;
$turquoise: #0193a3;