/* 
 * Core SCSS Import File
 *
 * This file manages the imports of all the scss partial files across the project 
 * and it's layout is based from that of the SASS guidelines here: http://sass-guidelin.es/
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/* 
 * Functions SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/*
 * Animation Mixin Function
 * 
 * Takes the arguments and renders a cross-browser 
 * compatible code block for the animation.
 *
 * Formal syntax can be found here: https://developer.mozilla.org/en/docs/Web/CSS/animation
 *
 */
/*
 * Keyframe Mixin Function
 * 
 * Takes the arguments and renders a cross-browser 
 * compatible code block for the keyframe animation css.
 *
 * Formal syntax can be found here: https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
 *
 */
/* 
 * Globals SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  background: url(/img/stardust.png);
  font-family: "proxima-nova";
  font-size: 6em; }

/* 
 * Colours SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/* 
 * Typography SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
h1 {
  text-shadow: 0 1px 0 #333;
  text-align: center;
  color: #00b777; }
