/* 
 * Core SCSS Import File
 *
 * This file manages the imports of all the scss partial files across the project 
 * and it's layout is based from that of the SASS guidelines here: http://sass-guidelin.es/
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/* 
 * Functions SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/*
 * Animation Mixin Function
 * 
 * Takes the arguments and renders a cross-browser 
 * compatible code block for the animation.
 *
 * Formal syntax can be found here: https://developer.mozilla.org/en/docs/Web/CSS/animation
 *
 */
/*
 * Keyframe Mixin Function
 * 
 * Takes the arguments and renders a cross-browser 
 * compatible code block for the keyframe animation css.
 *
 * Formal syntax can be found here: https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
 *
 */
/*
 * Extend Clear CSS Class
 * 
 * Use the @extend .class to take this code and enter it when the 
 * code is compiled. Ideally used with the [element]:after sudo selector
 * It adds a hidden block element that clears the contetn. No need for 
 * aditional code in the DOM.
 * 
 * More information can be found here: http://sass-lang.com/guide#topic-7
 *
 */
.clear, header:after {
  content: "";
  display: block;
  clear: both; }

/* 
 * Colours SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
/* 
 * Globals SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;
  font-family: "proxima-nova";
  background: #D2D6D6; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px; }

header {
  background: #34383C;
  margin-bottom: 50px; }
  header h1 {
    width: 50%;
    margin: 0;
    float: left; }
  header nav {
    width: 50%;
    float: right; }

.stage {
  min-height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #F7F8F9; }

.progress_bar {
  width: 100%;
  height: 5px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.2); }
  .progress_bar span {
    display: block;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    -webkit-animation: timer 60s linear 0s 1 single;
    -moz-animation: timer 60s linear 0s 1 single;
    -o-animation: timer 60s linear 0s 1 single;
    animation: timer 60s linear 0s 1 single; }

@-webkit-keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-moz-keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-o-keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes timer {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  font-size: 10px;
  width: 100%;
  padding: 15px;
  color: #34383C;
  font-weight: bold; }
  footer a {
    color: inherit;
    text-decoration: none; }

/* 
 * Typography SCSS Partial File
 *
 * @package: CSS-Box-Model
 * @version: 1
 * @author: @James_RWilliams
 *
 */
h1 {
  text-align: center;
  color: #00b777; }
