/* 
 * Core SCSS Import File
 *
 * This file manages the imports of all the scss partial files across the project 
 * and it's layout is based from that of the SASS guidelines here: http://sass-guidelin.es/
 *
 * @package: Intro-To-SCSS
 * @version: 1
 * @author: @James_RWilliams
 *
 */
 
$colour_White: 		#eaedf1;
$colour_Green: 		#1EBBA6;
$colour_Blue:		#05B2D2;
$colour_Background: #2D373F;
$colour_Gray:		#A3B0B7;
$colour_Orange:		#EE7836;
$colour_Turq:	 	#56C4C3;
$colour_Brown:		#958378;


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
}

html,
body {

		margin: 0; 
		padding: 0;

		background: $colour_Blue;

}

body {
	
	font-family: sans-serif;
	font-size: 16px;
	color: #444;
	
}

@import "filler";


.wrapper {
	
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px 0;
	
}

.typed-cursor{ display: none;}

header {
	
	p {
		
		font-weight: bold;
		color: $colour_Orange;
		display: inline-block;
		width: 50%;
		margin: 0;
		
	}
	
	button {
		
		position: absolute;
		
		right: -10px;
		top: -10px;
		
	}
	
	background: $colour_Background;
	padding: 20px;
}

.chapter {
	
	padding: 20px 0px;
	line-height: 1.3em;
	color: white;
	margin-bottom: 10px;
	background: none;
	
	h3 {
		
		margin: 0;
		
	}
	
	
	
}

#result {
	
	margin: 0;
	padding: 0;
	background: green;
	
	color: white;
	font-weight: bold;
	
	text-align: center;
	line-height: 60px;
	
	display: none;
	width: 0;
	height: 0;
	
}

.col-wrapper {
	
	height: 100%;
	
	.col {
		
		height: 100%;
		padding: 20px 0;
		width: 49%;
		
		
	}
	
	.col:nth-child(1){
		
		float: left;
		
	}
	
	.col:nth-child(2){
		
		article {
			
			padding: 20px;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
			background: $colour_White;
			
		}
		
		float: right;
		padding: 20px 0;
		
	}
	
}

.col-wrapper:after {
	
	content: "";
	display: block;
	clear: both;
	
}

button {
	
	background: $colour_Orange;
	border: 0;
	font-size: 1em;
	color: $colour_Background;
	font-weight: bold;
	padding: 10px 15px;
	
}

#help {
	
	color: $colour_Background;	

}


.CodeMirror {
	
	font-family: "Consolas";
	padding: 20px;
	
}

.CodeMirror-gutter {
	
	
	text-align: center;
	background: $colour_Background;
	
}

@media screen and (max-width:1000px) {
	
	.chapter_nav {
		
		width: 30%;
		
	}
	
	.col-wrapper {
	
		.col {
	
			float: none;
			width: 100%;
		
		}

	}
	
}